:root {
  --background: #f3f6ea;
  --foreground: #3e505b;

  --flavor: #368f8b;
  --flavor2: #2CFFE2;

  --success: #6BFFB8;
  --warnings: #CF4D6F;
  --gold: #FCCA46;

  --dark: #1D1E2C;
  --light: #f3f6ea;

  --shade00: #6B7A7F;
  --shade50: #99A3A3;
  --shade99: #C6CDC6;

  --shade: var(--shade99);

  --flavor-contrast: var(--background);
}

html {
  background: var(--background);
  color: var(--foreground);
  filter: invert(90);
  img, .img {
    filter: invert(1);
    &::after {
      filter: invert(90);
    }
  }
}